.normal {
	color: #B2B2B2;
}

.unique {
	color: #FFD700;
}

.vintage {
	color: #476291;
}

.genuine {
	color: #4D7455;
}

.strange {
	color: #CF6A32;
}

.unusual {
	color: #8650AC;
}

.haunted {
	color: #38F3AB;
}

.collectors {
	color: #AA0000;
}

.decorated {
	color: #FAFAFA;
}

.community {
	color: #70B04A;
}

.selfMade {
	color: #70B04A;
}

.valve {
	color: #A50F79;
}

$prim: #24201B;
$sec: #3C362F;
$tert: #EBE2CA;

$red: #FB524F;
$blu: #62778C;
