@import "color.scss";

#disp {
	padding: 8px;
	margin: 8px;

	> * {
		padding: 8px;
		margin: 8px;
	}

	img {
		height: 204px;
		border-radius: 6px;
		background: $sec;
	}

	h3 {
		font-family: TF2 Build;
	}
}
