@import "color.scss";

#disp {
	margin: 8px;
	padding: 8px;

	> * {
		margin: 8px;
		padding: 8px;
	}

	img {
		background: $sec;
		border-radius: 6px;
		height: 204px;
	}

	h3 {
		font-family: TF2 Build;
	}
}
