@import "color";

.head {
	padding: 8px;
	margin: 8px;

	span {
		margin: 8px;

		&#name {
			color: #FFD700;
		}
	}
}

#item {
	a {
		width: calc(20% - 32px);
		height: 60px;

		img {
			height: 64px;
		}
	}
}
